body {
    font-family: ;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    width: 100%
    margin: auto;
}

a, 
.subtext {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.header {
    display: flex;
    flex: auto;
    width: 100%;
    margin: 10px;
}

.links {
    display: flex;
    gap: 8px;
    
}

.main {
    font-size: 48px;
}

button {
    background-color: #3882F6;
    border-radius: 4px;
    border: 0;
    padding: 4px;
    max-width: 100px;
}

.body {
    display: flex;
    flex: auto;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 50px;
}

img {
    height: 150px;
    width: 150px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    flex-direction: column;
    width: 150px;
    align-items: center;
}

.info {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

}

.flames {
    width: 400px;
    padding: 50px;
}

.container {
    display: flex;
}

.subtext {
   margin-bottom: 10px;
}

.text {
    padding: 1em;
}